

body {
    font-family: "Outfit", sans-serif;
    background-color: hsl(220, 15%, 55%);
}

#textSection {

    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 375px;
    text-align: center;
    
}

.centeredImage {

    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 256px;
    height: 256px;
}